{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study students</title>
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/page2.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'css/images/logo.png'%}">
</head>
<body>
    <img class="logo" src="mysite\mysite\static\images\logo.png">
    <button class="btn_student" click=""> Студент </button>
    <button class="btn_teacher">Преподаватель</button>
</body>
</html>