{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/page1.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png'%}">
</head>
<body>
<img class="logo" src="mysite\mysite\static\images\logo.png">
<button class="btn_signin" type="button" href="{% url 'welcome'%}"> Войти</button>
<button class="btn_sign_up" href="mysite\main\templates\main\3\avtorization.html">Регистрация </button>
</body>
</html>